<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opps</title>
    <style>
        *{margin: 0; padding: 0;}

        #d1 {
            width: 200px;
            height: 200px;
            background: #ccc;
            margin: 0 auto;
            }

        #d2 {
             width: 150px;
             heught: 150px;
             margin: 0 auto;
             }


         h1 {
            text-align: center;
            line-height: 200px;
            }

         h2 {
             text-align: center;
             line-height: 100px;
             }


    </style>
</head>
<body>
    <div id="d1">
        <h1>404</h1>
    </div>

    <div id="d2">
        <h2>Check URL</h2>
    </div>

</body>
</html>